<div class="row" id="menu" *ngIf="gameState !== States.running" >
    <div class="col offset-s3 offset-m3 offset-l3 s6 m6 l6">
        <div class="card purple darken-3">
        <div class="card-content white-text">
            <span class="card-title">
                <span *ngIf="gameState === States.initialized">Welcome to Dragon Bird</span>
                <span *ngIf="gameState === States.paused">Paused</span>
            </span>
            <p *ngIf="gameState === States.paused">The game is paused! To continue playing press the buuton or the "P" key on the keyboard</p>
        </div>
        <div class="card-action">
            <button (click)="startGame()" class="waves-effect waves-light btn orange">
                <span *ngIf="gameState === States.initialized">Start New Game</span>
                <span *ngIf="gameState === States.paused"> Continue </span>
            </button>
        </div>
        </div>
    </div>
</div>